h1 {
    padding-left: 30px;
}

h4 {
    padding-left: 30px;
}

mat-divider {
    margin-bottom: 20px;
}

.historicWrapper {
    padding-left: 30px;
    padding-right: 30px;
}
  
.myButton {
    margin-right: 10px;
    margin-bottom: 20px;
}

.myInput {
    margin-right: 10px;
}

.chartjs-render-monitor {
    max-height: 520px;
}