<select class="form-control" name="sel" 
    [(ngModel)]="chartConfig.selectedLocation " 
    (ngModelChange)="changeLocation($event)">
  <option *ngFor="let location of locations" [ngValue]="location">
    {{location.name}}
  </option>
</select><br>

<button [disabled]="!chartConfig.selectedLocation" class="myButton" color="primary" (click)="changeInterval('daily')">Daily</button>
<button [disabled]="!chartConfig.selectedLocation" class="myButton" color="primary" (click)="changeInterval('threeHours')">3 Hours</button><br>

<select class="form-control" name="sel" 
    [(ngModel)]="chartConfig.period.from">
  <option *ngFor="let date of chartConfig.period.dates" [ngValue]="date">
    {{date.value}}
  </option>
</select>
<select class="form-control" name="sel" 
    [(ngModel)]="chartConfig.period.to">
  <option *ngFor="let date of chartConfig.period.dates" [ngValue]="date">
    {{date.value}}
  </option>
</select><br>

<button [disabled]="!chartConfig.selectedLocation" class="myButton" color="primary" (click)="applyChartConfigs()">apply</button>

<p>
TODO: Do not forget the UI
</p>

<button class="myButton" color="primary" (click)="changeData('temperature')">Temperature</button>
<button class="myButton" color="primary" (click)="changeData('wind')">Wind</button>
<button class="myButton" color="primary" (click)="changeData('pressure')">Pressure</button>
<button class="myButton" color="primary" (click)="changeData('precipitation')">Precipitation</button>

<div class="form-group">
    <canvas #lineChart>{{ chart }}</canvas>
 </div>
