<h1>About the project</h1>
<h4>Projektteam KlimaViewer</h4>
<mat-divider></mat-divider>

<div class="wrapperAbout">


      <h3>Vision</h3>
      <p>
        Mit dem Projekt wird eine Webapplikation entwickelt, die es möglich macht Klimaveränderungen über einen bestimmten Zeitraum für die Nutzer verständlich, informativ sowie attraktiv darzustellen. Dabei soll der Verlauf der Klimaveränderung in grafischen Darstellungen erfolgen. Die grafischen Darstellungen können ohne bestimmte Vorkenntnisse interpretiert werden. Die Nutzer dieser Webapplikation können mit echten Klimadaten verschiedene Auswertungen und Trends erstellen. Zudem ermöglicht die Webapplikation das Aufrufen von aktuellen Wetterdaten. Somit wird ein neues Tool entwickelt, welches auf den bisherigen gesammelten Daten aufbaut. Das Tool soll als Prototyp dienen und keine produktive und vollendete Software darstellen.    
      </p>
      <br>

      <h3>Rahmenbedingungen</h3>
      <p>
        Die Realisierung für dieses Projekt erfolgt im Rahmen des Moduls „Projekt 1“. Eine Fortsetzung des Projektes ausserhalb des genannten Moduls steht noch offen. Die Umsetzung wird hauptsächlich mit der Technologie JavaScript erfolgen, da wir uns auf das MEAN Stack stützen. Die Lösung ist auf einer virtuellen Maschine angesiedelt und steht über eine URL zur Nutzung.
      </p>
      <br>

    <h3>Team</h3>
    <p>Ohran Mujkic<br>Ivo Kozina</p>


</div>
