h1 {
 padding-left: 20px;
}

h4 {
    padding-left: 20px;
}

mat-grid-tile {
    padding-top: 30px;
    padding-bottom: 30px;
}

.myCard {

    margin-top: -150px;
}

.mat-card {
    min-height: 230px;
    min-width: 220px;
    max-width: 220px;
}

mat-grid-list {
    margin-bottom: -300px;
}

